service: postgresql-init-custom-resource
useDotenv: true
variablesResolutionMode: 20210326

provider:
  name: aws
  runtime: java17
  memorySize: 1024
  timeout: 60
  region: us-west-2
  deploymentBucket:
    name: ${env:BUCKET}
    serverSideEncryption: "AES256"
  logRetentionInDays: 7
  iam:
    deploymentRole: "arn:aws:iam::${env:ACCOUNT}:role/cloudformation/deployer/cloudformation-deployer"
    role:
      statements:
        - Effect: Allow
          Action:
            - secretsmanager:GetResourcePolicy
            - secretsmanager:GetSecretValue
            - secretsmanager:DescribeSecret
            - secretsmanager:ListSecretVersionIds
            - secretsmanager:ListSecret
          Resource:
            - "*"
  stackTags:
    Creator: serverless
    Environment: ${opt:stage}
    Project: ${self:service}
    Team: platform
    Visibility: internal
  vpc:
    subnetIds:
      - ${env:SUBNET_ID}
    securityGroupIds:
      - !GetAtt LambdaSg.GroupId
  lambdaHashingVersion: 20201221

functions:
  InitPostgresDatabase:
    handler: com.dwolla.postgres.init.PostgresqlDatabaseInitHandler
    package:
      artifact: ${env:DATABASE_ARTIFACT_PATH}

package:
  individually: true

resources:
  Resources:
    LambdaSg:
      Type: AWS::EC2::SecurityGroup
      Properties:
        GroupDescription: Traffic source security group for ${opt:stage} postgres-init-lambda
        VpcId:
          Fn::ImportValue: ${opt:stage}VpcId
        Tags:
          - Key: SecurityGroupType
            Value: TrafficSource
  Description: "CloudFormation custom resources for initializing PostgreSQL databases and users"
  Outputs:
    InitPostgresDatabaseFunction:
      Description: Database initialization Lambda Function Service Token
      Value:
        'Fn::GetAtt': [InitPostgresDatabaseLambdaFunction, Arn]
      Export:
        Name: ${self:service}:${opt:stage}:InitPostgresDatabaseArn
    InitPostgresDatabaseSg:
      Description: Secrutiy group attached to database initialization Lambda Function
      Value:
        !GetAtt LambdaSg.GroupId
      Export:
        Name: ${self:service}:${opt:stage}:InitPostgresDatabaseSgId
